<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Преподаватели</title>
</head>
<style>
        body {
            font-family: Arial;
            margin: 0;
            padding: 0;
            background: #f8f9fa;
        }
</style>

<body>
<body>
    <div class="header">
        <div class="logo" onclick="goHome()">Мир Знаний</div>
        <div class="buttons">
            <button class="button" onclick="window.location.href='/students/'">Студенты</button>
            <button class="button" onclick="window.location.href='/groups/'">Группы</button>
            <button class="button" onclick="window.location.href='/predmets/'">Предметы</button>
            <button class="button" onclick="window.location.href='/journal/'">Журнал</button>
            <button class="button" onclick="window.location.href='/teachers/'">Преподаватели</button>
        </div>
    </div>

</body>
</html>